body {
    height: 100vh;
    width: 100vw;
}

#head {
    height: 8%;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    position: relative;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    font-size: larger;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 700;
    color: blueviolet;
}

#pageContent {
    height: 76%;
    width: 100%;
    overflow: scroll;
}

#getName {
    height: 100%;
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#getName :first-child {
    font-family: 'Roboto', sans-serif;
    font-size: large;
    font-weight: 700;
    color: blueviolet;
}

#nickname {
    height: 5%;
    width: 90%;
    margin: 10px 0px;
    border: 2px solid blueviolet;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    font-weight: 500;
    text-align: center;
}

#getName :last-child {
    height: 30px;
    width: 70px;
    background-color: #FFFFFF;
    border: 0px;
    color: blueviolet;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    font-weight: 700;
    text-align: center;
}

#messageList {
    height: 100%;
    width: 100%;
}

.messages {
    height: 10%;
    width: 100%;
}

.message {
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    font-weight: 600;
}

.time {
    font-family: 'Roboto', sans-serif;
    font-size: small;
    color: gray;
}

.from,
.to {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: medium;
}

.status {
    background-color: lightgray;
}

.privateMessage {
    background-color: lightpink;
}

#sideMenu {
    display: none;
}

.title {

}

#contacts {

}

#whoCanSee {

}

.lock {
  
}

.see {
    
}

#writingBox {
    height: 12%;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    position: relative;
    bottom: 0px;
    display: flex;
}

.iconBox {
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#people {
    height: 60%;
    width: 60%;
    color: blueviolet;
}

#writing {
    height: 100%;
    width: 70%;
    border: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    font-weight: 700;
    padding-left: 20px;
}

#sendButton {
    height: 100%;
    width: 15%;
    background: #FFFFFF;
    border: 0px;
    color: blueviolet;
}

button :first-child {
    width: 60%;
    height: 60%;
}